/* Frame 1 */


/* Auto layout */

.card {
  display: flex;
  flex-direction: column;

  gap: 10px;

  max-width: 600px;
  width: 60vw;
  min-width: 200px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.33) 100%);
  border-radius: 39px;


  order: 0;
  flex-grow: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  color: #25063F;
}